$hamburgers-padding-x: 10px;
$hamburgers-padding-y: 15px;
$hamburger-layer-width : 28px;
$hamburger-layer-height : 3px;
$hamburger-types     : (squeeze);

@import '../../../bower_components/breakpoint-sass/stylesheets/breakpoint';
@import '../../scss/base/variables';
@import "../../../bower_components/css-hamburgers/_sass/hamburgers/hamburgers.scss";

.nav {
    background-color: $white;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    .hamburger {
        display: inline-block;
    }

    &__logo {
        color: $slateBlue;
        display: inline-block;
        font-size: 2.8rem;
        font-weight: bold;
        left: 50%;
        line-height: $baseline * 5;
        margin-left: -45px;
        padding-bottom: $baseline * 1.5;
        padding-left: $gutter;
        padding-right: $gutter;
        padding-top: $baseline * 1.5;
        position: absolute;
        text-align: center;
        text-decoration: none;
    }

    &__cart {
        display: block;
        float: right;
    }

    &__cart-text {
        color: $slateBlue;
        display: block;
        font-weight: bold;
        padding-bottom: $baseline * 2.5;
        padding-left: $gutter;
        padding-right: $gutter;
        padding-top: $baseline * 2.5;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__divider {
        border-bottom: 1px solid $grey;
    }
}
